[package]
name = "ecies"
version = "0.2.1"
# docs
authors = ["Weiliang Li <to.be.impressive@gmail.com>"]
description = "Elliptic Curve Integrated Encryption Scheme for secp256k1 in Rust"
edition = "2018"
keywords = [
  "secp256k1",
  "crypto",
  "ecc",
  "ecies",
  "cryptocurrency",
]
license = "MIT"
readme = "README.md"
# links
documentation = "https://docs.rs/ecies/latest/ecies/"
homepage = "https://ecies.org/rs/"
repository = "https://github.com/ecies/rs"

[dependencies]
hkdf = "0.10.0"
libsecp256k1 = "0.3.5"
sha2 = "0.9.2"

# openssl aes
openssl = {version = "0.10.32", optional = true}

# pure rust aes
aes-gcm = {version = "0.8.0", optional = true}
typenum = {version = "1.12.0", optional = true}

[target.'cfg(target_arch = "wasm32")'.dependencies]
rand = {version = "0.7.3", features = ["wasm-bindgen"]}

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
rand = {version = "0.7.3"}

[features]
default = ["openssl"]
pure = ["aes-gcm", "typenum"]

[dev-dependencies]
criterion = "0.3.3"
hex = "0.4.2"

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3.19"

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
futures-util = "0.3.8"
reqwest = "0.11.0"
tokio = "0.2.24"

[[bench]]
harness = false
name = "simple"
path = "bench/simple.rs"
