[package]
name = "ecies"
description = "Elliptic Curve Integrated Encryption Scheme for secp256k1 in Rust"
version = "0.1.0"
license = "MIT"
authors = ["Weiliang Li <to.be.impressive@gmail.com"]
edition = "2018"
repository = "https://github.com/ecies/rs"

[dependencies]
rand = "0.6"
secp256k1 = "0.15"
hex ="0.3"
openssl ="0.10"
hkdf = "0.8"
sha2 = "0.8"
lazy_static = "1.4.0"

[dev-dependencies]
reqwest = "0.9"
criterion = "0.3"

[[bench]]
name = "simple"
path = "bench/simple.rs"
harness = false
