[package]
name = "ecies"
version = "0.2.2"
# docs
authors = ["Weiliang Li <to.be.impressive@gmail.com>"]
description = "Elliptic Curve Integrated Encryption Scheme for secp256k1 in Rust"
edition = "2021"
keywords = [
  "secp256k1",
  "crypto",
  "ecc",
  "ecies",
  "cryptocurrency",
]
license = "MIT"
readme = "README.md"
# links
documentation = "https://docs.rs/ecies/latest/ecies/"
homepage = "https://ecies.org/rs/"
repository = "https://github.com/ecies/rs"

[dependencies]
hkdf = "0.12.0"
libsecp256k1 = "0.7.0"
sha2 = "0.9.8"

# openssl aes
openssl = {version = "0.10.38", optional = true}

# pure rust aes
aes-gcm = {version = "0.9.4", optional = true}
typenum = {version = "1.14.0", optional = true}

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = {version = "0.2.3", features = ["js"]}
rand = {version = "0.8.4", features = ["getrandom"]}

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
rand = {version = "0.8.4"}

[features]
default = ["openssl"]
pure = ["aes-gcm", "typenum"]

[dev-dependencies]
criterion = "0.3.5"
hex = "0.4.3"

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3.28"

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
futures-util = "0.3.17"
reqwest = "0.11.6"
tokio = {version = "1.14.0", features = ["rt-multi-thread"]}

[[bench]]
harness = false
name = "simple"
path = "bench/simple.rs"
