[package]
name = "ecies"
description = "Elliptic Curve Integrated Encryption Scheme for secp256k1 in Rust"
version = "0.1.4"
license = "MIT"
authors = ["Weiliang Li <to.be.impressive@gmail.com>"]
edition = "2018"
repository = "https://github.com/ecies/rs"
documentation = "https://github.com/ecies/rs"
homepage = "https://github.com/ecies/rs"
readme = "README.md"

[dependencies]
rand = "0.7.3"
libsecp256k1 = "0.3.5"
hex ="0.4.2"
openssl ="0.10"
hkdf = "0.8.0"
sha2 = "0.9.0"

[dev-dependencies]
tokio = "0.2.13"
reqwest = "0.10.4"
criterion = "0.3.1"
futures-util = "0.3.4"

[[bench]]
name = "simple"
path = "bench/simple.rs"
harness = false
